<div class="comment">
  <div class="content">
    <% if(comment.website) { %>
      <a class="author" href="<%= comment.website %>"><%= comment.author %></a>
    <% } else { %>
      <span class="author"><%= comment.author %></span>
    <% } %>
    <div class="metadata">
      <span class="date"><%= new Date(comment.createdAt).toLocaleString() %></span>
    </div>
    <div class="text">
      <%- comment.content %>
    </div>
    <div class="actions">
      <a class="piggy-reply">回复</a>
      <div class="ui small modal">
        <div class="ui header">
          <h4>回复 @<%= comment.author %></h4>
          <p><%- comment.content %></p>
        </div>
        <div class="content">
          <form class="ui form" method="post" action="/posts/<%= comment.postId %>/<%= comment.commentId %>">
            <div class="field">
              <textarea name="comment" required></textarea>
            </div>
            <input type="submit" class="ui teal submit button" value="回复">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
