<div class="comment">
  <div class="content">
    <% if(comment.website) { %>
      <a class="author" href="<%= comment.website %>"><%= comment.author %></a>
    <% } else { %>
      <span class="author"><%= comment.author %></span>
    <% } %>
    <div class="metadata">
      <span class="date"><%= new Date(comment.createdAt).toLocaleString() %></span>
    </div>
    <div class="text">
      <%= comment.content %>
    </div>
    <div class="actions">
      <a class="reply" href="#">Reply</a>
    </div>
  </div>
</div>
