<div class="ui raised segment ten wide column">
  <h1 class="ui header"><%= post.title %><span class="piggy-session-date"><%= new Date(post.createdAt).toLocaleString().slice(0, 10) %></span></h1>

  <% if(post.content.length > 200 ) { %>
    <div class="piggy-session"><%- post.content.slice(0, 200) %></div>
  <% } else { %>
    <div class="piggy-session"><%- post.content %></div>
  <% } %>

  <a class="ui right labeled blue icon button floated" href="/posts/<%= post.postId %>">
    <i class="ui right arrow icon"></i>
    查看更多
  </a>
</div>
