<%- include('components/header') %>
<%- include('components/nav') %>
<div class="ui centered grid piggy-blog-list">
  <%
  if(posts) {
    posts.forEach((post) => {
  %>
    <%- include('components/session', {post: post}) %>
  <%
    })
  }
  %>
</div>
<div class="piggy-pagination"></div>
<% if(/\/posts$/.test(path)) { %>
<%- include('components/footer', {index: index, total: total}) %>
<% } else { %>
<%- include('components/footer') %>
<% } %>
