<%- include('components/header') %>
<%- include('components/nav') %>
<div class="ui centered grid">
  <div class="ui raised segment ten wide column">
    <% if(user && user.username === site.owner) { %>
      <a class="ui right floated blue button" href="/posts/<%= post.postId %>/editing">编辑</a>
    <% } %>
    <h1 class="ui header"><%= post.title %></h1>
    <div class="piggy-metadata">
      <span class="piggy-pv">阅读：<%= post.pv %></span>
      <span>写于&nbsp;<%= new Date(post.createdAt).toLocaleString().slice(0, 10) %></span>
    </div>

    <div><%- post.content %></div>
    <div class="ui minimal comments">
      <h3 class="ui dividing header">我要评论 (共有评论 <%= post.commentsCount %> 条)</h3>
      <%
        if(comments) {
          comments.forEach((comment) => {
      %>
        <%- include('components/comment', {comment: comment}) %>
      <%
          })
        }
      %>
      <form class="ui reply form" method="post">
        <div class="field">
          <textarea name="comment" required></textarea>
        </div>
        <input type="submit" class="ui teal submit button" value="发表">
      </form>
      <%- include('components/notification') %>
    </div>
  </div>
</div>
<%- include('components/footer') %>
