<%- include('components/header') %>
<%- include('components/nav') %>
<div class="ui centered grid">
  <div class="ui raised segment ten wide column">
    <% if(user && user.username === site.owner) { %>
      <a class="ui right floated blue button" href="/posts/<%= post.postId %>/editing">编辑</a>
    <% } %>
    <h1 class="ui header"><%= post.title %></h1>
    <div class="piggy-tag-bar">
      <%
        if(post.tag.trim()) {
          post.tag.trim().split(' ').forEach((singleTag) => { %>
        <a class="ui mini label" href="/posts/tags/<%= singleTag %>"><%= singleTag %></a>
      <% })} %>
    </div>
    <div class="piggy-metadata">
      <span class="piggy-pv">阅读：<%= post.pv %></span>
      <span>写于&nbsp;<%= new Date(post.createdAt).toLocaleString().match(/[0-9-]+/)[0] %></span>
    </div>

    <div><%- post.content %></div>
    <div class="ui minimal comments">
      <h3 class="ui dividing header">我要评论 (共有评论 <%= post.commentsCount %> 条)</h3>
      <%
        if(comments) {
          comments.forEach((comment) => {
      %>
        <%- include('components/comment', {comment: comment, user: user}) %>
      <%
          })
        }
      %>
      <% if(user) { %>
      <form class="ui reply form" method="post">
        <div class="field">
          <textarea name="comment" required></textarea>
        </div>
        <input type="submit" class="ui teal submit button" value="发表">
      </form>
      <%- include('components/notification') %>
      <% } %>
    </div>
  </div>
  <div class="ui raised three wide segment piggy-sidebar">
    <h3>标签呀!</h3>
    <div class="piggy-tag-sidebar">
      <% for(let singleTag of tags) { %>
        <a class="ui mini label" href="/posts/tags/<%= singleTag %>"><%= singleTag %></a>
      <% } %>
    </div>
  </div>
</div>
<%- include('components/footer') %>
